.our-history {
  margin-bottom: 100px;
  padding: 5% 2%;
  position: sticky;
  top: 0;

  .border-div {
    background: $light-darken;
    width: 70px;
    height: 2px;
    margin: 10px 0 5px 0;
  }

  .history {
    color: $light-darken;
    @include small-title;
    z-index: 2;
  }
  p {
    color: $light;
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
  }
}

.layer-history {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 50vh;
  background: rgba($color: $light-darken, $alpha: 0.2);
  z-index: 2;
}

.image-vrap:nth-child(2),
.image-vrap:nth-child(4) {
  .layer-history {
    width: 100%;
  }
}
.image-vrap:nth-child(3) {
  .layer-history {
    left: 0;
  }
}

.image-vrap img {
  width: 100%;
}