.menu-button {
  position: fixed;
  height: 27px;
  top: 25px;
  left: 20px;
  z-index: 4;

  #line1, #line2, #line3 {
    position: relative;
    width: 27px;
    height: 5px;
    margin-bottom: 5px;
    background: $dark;
    transition: 0.3s;
    border: 1px solid $light;
  }

  #line2 {
    width: 15px;
  }
}

.menu {
  width: 33px;
  position: fixed;
  top: 0;
  left: 0px;
  -webkit-transform: translateX(-103%);
  transform: translateX(-103%);
  width: 300px;
  height: 100vh;
  background: $dark-darken;
  z-index: 3;
  //transition: transform 300ms linear;
  will-change: transform;

  .menu-list {
    margin-top: 100px;
    height: 50%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include small-title;
    li {
      list-style: none;
        z-index: 6;

      a {
        text-decoration: none;
        color: $light;
        transition: 0.3s;
      }
    }
  }
}



.active-menu {
  -webkit-transform: none;
  transform: none;
}

.menu-animatable {
    &.menu { 
      transition: all 230ms ease-in;
    }  
}

.active-menu  {
  &.menu-animatable { 
    transition: all 300ms ease-out;
  }  
}

.active-menu-button {
  #line1, #line2, #line3 {
    background: $light;
    border: none;
    height: 3px;
  }
  #line3 {
    display: none;
  }
  #line1 {
    transform: rotateZ(-45deg);
    width: 20px;
    top: 5px;
  }
  #line2 {
    transform: rotateZ(45deg);
    top: 9px;
    width: 20px;
  }
}

.menu-list li a:hover {
  color: $light-darken;
}

.fill path:hover {
  fill: $light-darken;
}

.icons { 
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 30%;
  a {
    z-index: 6;
  }
}
.fill {
  fill: $light;
  path {
    transition: 0.3s;
  }
}

// layer for javascript to close menu on outside click
#menu-layer {
  position: absolute;
  height: 100vh; 
  width: 100%;
  z-index: 4;
}

#menu-btn {
  position: absolute;
  top: 0;
  width: 27px;
  height: 27px;
  z-index: 5;
}